body{
    font-family: "Roboto", sans-serif;
    background-color: #0D0D0D;
    color: #f9f6f6 ;
    overflow: hidden;
}
.side-nav-menu {
    z-index: 99;
}
.nav-tab {
    background-color: #0D0D0D;
}
.cursor-pointer{
    cursor: pointer;
}
.links{
    display: none;
}
.logo{
    width: 50px;
}

.meal-layer {
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: .5s;
}
.meal:hover .meal-layer{
    top: 0;
}

.loading-screen{
    z-index: 999;
    display: flex;
}
